<!DOCTYPE html>
<html>
		<body>
      <h3><b>SOUNDS YOU ADD:</b></h3>
			<div>
				{{#each sounds}}
        <ul>
        WHAT: {{what}}
        WHERE: {{where}}
        DATE: {{date}}
        HOUR: {{hour}}
        DESCRIPTION: {{desc}}
      </ul>
				{{/each}}
			</div>
      Your session's total page visits: {{count}}
		</body>
</html>
